* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    color: #6E3717;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

#scanButton {
    background: #D38007;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

#scanButton:hover {
    background: #6E3717;
}

#reader {
    margin-top: 25px;
}

#result {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

.success-card,
.warning-card,
.error-card{

    margin-top:25px;

    padding:25px;

    border-radius:18px;

    text-align:left;

    color:white;

    box-shadow:0 8px 25px rgba(0,0,0,.18);

    animation:fadeIn .4s ease;

}

.success-card{

    background:#16a34a;

}

.warning-card{

    background:#f59e0b;

}

.error-card{

    background:#dc2626;

}

.success-card h2,
.warning-card h2,
.error-card h2{

    margin-bottom:15px;

}

.success-card p,
.warning-card p,
.error-card p{

    font-size:18px;

    margin:8px 0;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
